# /etc/systemd/system/my_app.service
[Unit]
Description=Web Waitress
After=network.target

[Service]
Type=simple
User=alex
WorkingDirectory=/home/alex
ExecStart=/home/alex/alexmshepherd.com/venv/bin/python3 /home/alex/alexmshepherd.com/website/__init__.py
Restart=always

[Install]
WantedBy=multi-user.target