# /etc/systemd/system/my_app.service
[Unit]
Description=Web Waitress
After=network.target

[Service]
Type=simple
User=alex
WorkingDirectory=/home/alex/alexmshepherd.com
ExecStart=venv/bin/python3 -m website
Restart=always

[Install]
WantedBy=multi-user.target