{% extends "_base.html.jinja" %}

{% block content %}

	<p>
		hi! my name's theo. this is my website. i like tinkering with computers, and at some point
		i'd like to turn that into a career. for now, i work on a bunch of different projects in my
		free time and sometimes share them online if i think they're good enough. 
	</p>

	<p>
		i don't use much social media. here's where you can find me:
		
		<ul>
			<li>
				<a rel="me" href="https://fops.cloud/thcrt">
					the Fediverse
				</a>
			</li>
			<li>
				<a rel="me" href="https://github.com/thcrt">
					GitHub
				</a>
			</li>
			<li>
				<a rel="me" href="https://bsky.app/profile/theocourt.com">
					Bluesky
				</a>
			</li>
			<li>
				<a href="mailto:hello@theocourt.com">
					Email
				</a>
			</li>
		</ul>
	</p>

{% endblock content %}