<html>
    <head>
        <title>alex m shepherd</title>
        
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="/static/tailwind.css">

    </head>
    <body class="px-10 py-7 bg-slate-100 text-slate-800 flex flex-col h-screen">
        <header>
            <h1 class="text-6xl pb-2 font-black bg-gradient-to-r bg-clip-text text-transparent from-blue-400 to-red-600">
                alex martin shepherd
            </h1>
            <h2 class="text-3xl font-semibold italic text-slate-600">
                if you're reading this, something's broken.
            </h2>
        </header>
        <main class="py-7">
            hi! my name's alex. this is my website.
        </main>
        <footer class="mt-auto text-xs font-medium">
            this webpage is website is the copyrighted property of Alex Martin Shepherd. <br>
            all rights to the webpage's <a href="https://github.com/alexmshepherd/alexmshepherd.com" class="text-blue-600 font-semibold">code</a>, excluding contents (as defined below), are waived to the maximum extent possible under law. <br>
            all rights to the webpage's contents, defined as media intended for direct consumption (including but not limited to text, images and video) are reserved unless otherwise stated. 
        </footer>
    </body>
</html>
