{% extends "base.html" %}

{% block heading %}
{{ quote }}
{% endblock heading %}

{% block heading_classes %}
italic
{% endblock heading_classes %}

{% block main %}
<div>
    <p>
        <em class="not-italic font-bold">hi!</em> my name's alex. i'm a programmer, an event technician and also a photographer.
    </p>
    <p>
        i believe in open-source software, privacy and other human rights, and the abolition of class.
    </p>
    <p>
        i'm actively looking for work. if you have software that needs building, a play that needs lighting or photos that need taking, please get in touch.
    </p>
</div>
<div>    
    here are some things i've made:
    <ul class="ml-10 list-disc">
        <li><a class="font-semibold text-blue-600" href="https://owdex.com">owdex</a>&mdash;an open, community-curated search index</li>
        <li><a class="font-semibold text-blue-600" href="https://botsin.space/@duckhunter">duck hunter</a>&mdash;the classic duck hunting game from irc, now on the fediverse</li>
    </ul>
</div>
<div>
    here's where you can find me:
    <ul class="ml-10 list-disc">
        <li><a class="font-semibold text-blue-600" rel="me" href="https://akko.alexmshepherd.com/alex">@alex@akko.alexmshepherd.com</a> on the fediverse</li>
        <li><a class="font-semibold text-blue-600" rel="me" href="https://github.com/alexmshepherd">@alexmshepherd</a> on github</li>
        <li><span class="font-semibold">@amshepherd:matrix.org</span> on matrix</li>
        <li><a class="font-semibold text-green-600" rel="me" href="mailto:alex@alexmshepherd.com">alex@alexmshepherd.com</a> through email</li>
    </ul>
</div>
<div>
    i have a <a class="font-semibold text-blue-600" href="{{ url_for('blog.posts') }}">blog</a>. here are some recent posts from it:
    {% include "list_posts.html" %}
</div>
{% endblock main %}

{% block main_classes %}
space-y-4
{% endblock main_classes %}
